/*
body, html
{
	 margin:0;
    padding:0;
    overflow:hidden;

}
*/

/*
body
{
	position: relative;
}
*/



.home-pad{
	padding-top: 20px;
}

body
{
    font-family: 'Poppins', sans-serif;
    margin:0;
   -webkit-font-smoothing: antialiased;


}



#one
{
	background-image: url("../images/background.jpg");
    background: rgba(20,20,20,);
	background-size: cover;
	width: 100%;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	display: relative;
	overflow: hidden;
	min-height: 100vh;
}

.bg_anim {
  -webkit-animation: transp ease-out 0.6s;
}

@-webkit-keyframes transp {

  0% { opacity: 0; }
    100% { opacity: 1;}

}


.menu
{


/*	padding-top: 50px;*/

/*
	height: 30px;
	width: 100%;
*/


/*
    left: 10%;
	top: 6%;

	position: fixed;
*/



}
.navbar
{
	padding-top: 2% !important;

}
.navbar-left a:hover {
    background-color: transparent !important;


}
.nav>li
{
	position: fixed !important;
	font-family: 'Poppins', sans-serif;

}
.nav>li>a {

    padding: 0 !important;
	font-family: 'Poppins', sans-serif;

}

#one .menu a
{
    color: #213742;

}

#four a

{
    color: white;
}

.cereb-green{
    color: #3cb885;
}

.icon
{

	position: fixed;

}


.smallline
{
	height: 2px;
	width: 20px;
	background-color: black;
	display: inline-block;
	line-height: 1px;
	margin-bottom: 3px;
}


.address
{
	z-index: 1000;
/*
	right: 20%;
	top:6%;
*/
	float: right;
	position: fixed;
    margin-top: 3%;
  right: 20%;





}

.home-pad{
	padding-top: 20px;
}

.caption
{


	padding: 30px !important;
	background-color: rgba(255,255,255, 0.5);

	opacity: 1;
	font-size: 10px;
	position:inherit;
	width: 25%;
	height: 50%;

    box-shadow: 10px 10px 250px rgba(0,0,0,0.1);
}

.blur {
  -webkit-animation: blur ease-out 1.2s;
}

@-webkit-keyframes blur {

  0% { -webkit-filter: blur(10px); opacity: 0; }
    40% { opacity: 1;}
 100% { -webkit-filter: blur(0px); }
}

.caption b
{

	font-size: 35px;
	color: #050403;
	font-family: 'Poppins', sans-serif;
	line-height: 43px;
	letter-spacing: -0.61px;
}


.line
{
	height: 3px;
	width:75px;
	background-color: green;
}


.content
{
	font-size: 15px;
	color: black;
	font-family: 'Roboto Slab', serif;
}


.sidemenu
{

	position: fixed !important;
font-size: 11px;
    padding-bottom: 5px;
    bottom: 0;
	list-style-type: none;
	z-index: 1000;
	opacity: 0.6;
/*	padding-right: 0px !important;*/




}


.parttwo a
{
  color: aliceblue;
}




.blueline
{
	height: 1px;
	background-color: #108FA8;
	width: 10px;
	display: inline-block;
	margin-bottom: 3px;

	}



a:hover
{

	color: #213742;
}


/*
a .blueline:hover
{
	height: 1px;
	background-color: #108FA8;
	width: 20px;
	display: inline-block;
	margin-bottom: 3px;
	color: black !important;

}
*/



#smallline
{
	 background-image: url("../images/smallline.png");
	height: 1px;
	width: 15px;
	display: inline-block;
	margin-bottom: 2px;
}


#smallline:hover
{
	background-image: url("../images/hoverline.png");
	height: 1px;
	width: 20px;


}

#two
{


		width: 100%;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		display: relative;
		/*overflow: hidden;*/
		height: auto;
    align-content: center;



}


.success
{
color:rgba(255,255,255,1);
font-family:'Poppins';
font-size:24px;
letter-spacing:-0.42px;
line-height:38px;
text-align:left;
padding-left: 15%;
padding-top: 9%;
z-index:1500;
position: absolute;


}
.success_mob
{
color:rgba(255,255,255,1);
font-family:'Poppins';
font-size:20px;
letter-spacing:-0.42px;
line-height:38px;
text-align:left;
padding-left: 3%;
padding-top: 63px;
z-index:1500;
position: absolute;


}

.slider_content_top{
    
    padding-top:15%;
}
.oneby
{
	font-size: 13px;
	color: #dcdcdc;
/*	padding-left: 400px;*/
/*	padding-top: 310px;*/
    margin-top: 2%;
	position: absolute;
/*	margin-left: 20%;*/
/*
	height: 20px;
	width: 40px;
*/




}


.products
{
	margin-top: 2%;
	display: inline-block;
/*
	height: 70px;
	width: 350px;
    margin-left: 20%;
*/

/*
	background-color: black;

*/
	display: inline-block;
	font-size: 70px;
	color: white;
	position: absolute;
}

.lotzacontent
{

/*	background-color: white;*/

	margin-top: 3%;
	color: white;
	font-size: 15px;
	position: absolute;
	line-height: 2.1em;
/*	margin-left: 20%;*/

/*
	margin-top: 23%;
	width: 350px;
	height: 200px;
*/


}

.google
{
/*	margin-left: 20%;*/
	margin-top: 3%;
    position: absolute;
}

.larrow
{

    top: 150%;
        margin-left: 1%;

    position: absolute;





}

.rarrow
{

	 top: 150%;
        right: 1%;
	float: right;
    position: absolute;

}


.cell
{
	float: right;

}

#three
{
		background-image: url(../images/bg3.png);
		background-size: cover;
		width: 100%;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		display: relative;
		overflow: hidden;
			min-width: 100%;
			min-height: 100vh;


}

.cerebtechmain
{



    margin-top: 10%;
/*	padding-left: 400px;*/

/*	margin-left: 18%;*/
	position: absolute;
/*
	height: 200px;
	width: 600px;
*/



}

img .cerebtechlogo
{
	float: left;

}

.cerebtech
{
	color: black;
	font-size: 36px;
	 
	position: absolute;
	 
}

.greenline
{
	position: absolute;
	margin-top: 120px;
	margin-left: 20px;

}

.cerebcontent
{
	 margin-top: 5%;
/*	padding-left: 400px;*/

/*	margin-left: 18%;*/
	position: absolute;
/*
	height: 200px;
	width: 600px;
*/
	line-height: 35px;
	color: #4a4a4a;
	font-size: 22px;

}

.knowmore
{
	 margin-top: 1%;
/*	padding-left: 400px;*/

/*	margin-left: 18%;*/
	position: absolute;
/*
	height: 40px;
	width: 300px;
*/
	font-size: 22px;
/*	text-align: left;*/
	color: #3cb885;
	display: inline-block;

}

#three .icon
{
visibility: hidden;
}

#four
{
		background-image: url(../images/bg4.png);
		background-size: cover;
		width: 100%;
    padding-top: 10%;
		display: relative;
		overflow: hidden;
        min-height: 100vh;
        
}

.clients
{



    margin-top: 10%;
/*	padding-left: 400px;*/

/*	margin-left: 28%;*/
	position: absolute;
/*
	height: 50px;
	width: 180px;
*/
	font-size: 45px;
	text-align: left;
	color: white;
	letter-spacing: 0.61px;
	line-height: 43px;


text-shadow:0px 20px 1px rgba(60,184,133,0.20);




}

 .partners
{



    margin-top: 10%;
/*	padding-left: 400px;*/

/*	margin-left: 62%;*/
	position: absolute;
/*
	height: 50px;
	width: 180px;
*/
	font-size: 45px;
	text-align: left;
	color: white;
	letter-spacing: 0.61px;
	line-height: 43px;

text-shadow:0px 20px 1px rgba(60,184,133,0.20)




}

#four .menu a
{
    color: white !important;
}

.clientline
{
	position: absolute;
	margin-top: 11%;
/*	margin-left: 28%;*/
}

.partnerline
{
	position: absolute;
	margin-top: 14%;
	margin-left: 62%;
}

.honeywell1
{
	position: absolute;
/*	margin-left: 28%;*/
	margin-top: 5%;
}

.honeywell2
{
	position: absolute;
/*	margin-left: 62%;*/
	margin-top: 5%;
}

.avery1
{
	position: absolute;
/*	margin-left: 40%;*/
	margin-top: 4%;
}

.avery2
{
	position: absolute;
/*	margin-left: 74%;*/
	margin-top: 4%;
}

.federal1
{
	position: absolute;
/*	margin-left: 28%;*/
	margin-top: 3%;
}

.federal2
{
	position: absolute;
	margin-top: 3%;
/*	margin-left: 62%;*/
}

.rexroth1
{
	position: absolute;
	margin-top: 3%;
/*	margin-left: 40%;*/

}


.rexroth2
{
	position: absolute;
/*	margin-left: 74%;*/
	margin-top: 3%;

}

.merck1
{
	position: absolute;
/*	margin-left: 28%;*/
	margin-top: 2%;
}

.merck2
{
	position: absolute;
/*	margin-left: 62%;*/
	margin-top: 2%;
}

.clean1
{
	position: absolute;
	margin-top: 2%;
/*	margin-left: 28%;*/

}


.clean2
{
	position: absolute;
	margin-top: 2%;
/*	margin-left: 62%;*/
}


#five
{
    padding-top: 5%;
	background-image: url(../images/bg5.png);
	background-size: cover;
	width: 100%;
	max-width: 100%;
	display: relative;
    height: 98vh;
    overflow: hidden;


}
#five-mob
{
	background-image: url(../images/bg5.png);
	background-size: cover;
    padding-top: 10%;
	display: relative;
	overflow: hidden;
    height: auto;
}

.for_med_display {
    margin-left:17% !important; 
}

@media only screen and (min-width:994px) {
    
   .for_med_display {margin-left:20px  !important;   }
 
    
}
 

.address_box {
    padding-right: 20px;
    padding-left: 20px;
 
}

#con_five
{
	background-image: url(../images/bg5.png);
	background-size: cover;
	width: 100%;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 100%;
	display: relative;
	overflow: hidden;
    height: auto;


}

h4
{
	color: white !important;
	font-size: 35px !important;
/*	position: absolute;*/
	margin-top: 20% !important;
/*	position: absolute;*/
/*	margin-left: 20%;*/
/*
letter-spacing:-0.61px;
line-height:43px;*/
/*text-align:left;*/
}

.underline
{
	position: absolute;
/*	margin-left: 22%;*/
	margin-top: 1%;

}
.row_text
{
	text-align: left;
}


.divider1
{
	position: absolute;

/*	margin-left: 30%;*/
	margin-top: 2%;
/*	margin-left: 1%;*/
	display: inline-grid;
	margin-left: 0px;

}
/*
.col-xs-1 {
    width: 1px !important;
	height: auto !important;
}
*/
.row_new1 {
    margin-left: 24% !important;
}
.row_new {
    width: 12.666667% !important;
	text-align: center;
}


.k
{
	opacity:0.1;

font-size:200px;
color:#ffffff;

line-height:35px;
text-align:left;
	position: absolute;
	margin-top: 30%;
	margin-left: 20%;
}

.b
{
	opacity:0.1;

font-size:200px;
color:#ffffff;

line-height:35px;
text-align:left;
	position: absolute;
	margin-top: 30%;
	margin-left: 34%;
}

.f
{
	opacity:0.1;

font-size:200px;
color:#ffffff;

line-height:35px;
text-align:left;
	position: absolute;
	margin-top: 30%;
	margin-left: 48%;
}

.n
{
	opacity:0.1;

font-size:200px;
color:#ffffff;

line-height:35px;
text-align:left;
	position: absolute;
	margin-top: 30%;
	margin-left: 64%;
}

.kochi
{
/*
	position: absolute;
	margin-top: 20%;
	margin-left: 20%;
*/
	margin-top: 50%;
font-size:25px;
color:#ffffff;
letter-spacing:0px;
line-height:27px;
/*text-align:left;*/

}

.bengaluru
{
		position: absolute;
	margin-top: 20%;
	margin-left: 34%;

font-size:25px;
color:#ffffff;
letter-spacing:0px;
line-height:27px;
text-align:left;
}

.fujairah
{
		position: absolute;
	margin-top: 20%;
	margin-left: 48%;

font-size:25px;
color:#ffffff;
letter-spacing:0px;
line-height:27px;
text-align:left;
}


.newyork
{
		position: absolute;
	margin-top: 20%;
	margin-left: 64%;

font-size:25px;
color:#ffffff;
letter-spacing:0px;
line-height:27px;
text-align:left;
}

.kerala
{

/*
	position: absolute;
	margin-left: 20%;
	margin-top: 23%;
*/
font-size:10px;
color:#d0ff20;
letter-spacing:1.33px;
line-height:27px;
/*text-align:left;*/

}

.karnataka
{

	position: absolute;
	margin-left: 34%;
	margin-top: 23%;
font-size:10px;
color:#d0ff20;
letter-spacing:1.33px;
line-height:27px;
text-align:left;

}

.uae
{

	position: absolute;
	margin-left: 48%;
	margin-top: 23%;
font-size:10px;
color:#d0ff20;
letter-spacing:1.33px;
line-height:27px;
text-align:left;

}

.usa
{

	position: absolute;
	margin-left: 64%;
	margin-top: 23%;
font-size:10px;
color:#d0ff20;
letter-spacing:1.33px;
line-height:27px;
text-align:left;

}

.address1
{
/*
	position: absolute;
	background-color: aliceblue;
	margin-top: 26%;
	margin-left: 20%;
*/
/*
	height: 80px;
	width: 200px;
	opacity:0.8;
*/
margin-top: 15%;
font-size:11px;
color:#ffffff;
letter-spacing:0.5px;
/*text-align:left;*/

}

.address2
{
	position: absolute;
/*	background-color: aliceblue;*/
	margin-top: 26%;
	margin-left: 34%;
	height: 80px;
	width: 200px;
	opacity:0.8;

font-size:11px;
color:#ffffff;
letter-spacing:0.5px;
text-align:left;

}

.address3
{
	position: absolute;
/*	background-color: aliceblue;*/
	margin-top: 26%;
	margin-left: 48%;
	height: 80px;
	width: 200px;
	opacity:0.8;

font-size:11px;
color:#ffffff;
letter-spacing:0.5px;
text-align:left;

}


.address4
{
	position: absolute;
/*	background-color: aliceblue;*/
	margin-top: 26%;
	margin-left: 64%;
	height: 80px;
	width: 200px;
	opacity:0.8;

font-size:11px;
color:#ffffff;
letter-spacing:0.5px;
text-align:left;

}

.want
{
	position: absolute;

    margin-top: 7%;
/*    width: 80px;*/
font-size:20px;
/*
height: 50px;
    width: 250px;
*/
color: white;
/*
letter-spacing:0.35px;
line-height:37px;
*/
text-shadow:0px 14px 1px rgba(60,184,133,0.20);
/*
text-align:center;

*/
}

.find
{


	position: absolute;
/*
	margin-left: 50%;
	margin-top: 40%;;

	height: 50px;
    width: 150px;
*/
font-size:20px;
color:#ffffff;
	margin-top: 7%;
/*
letter-spacing:-0.35px;
line-height:37px;
text-shadow:0px 14px 1px rgba(60,184,133,0.20);
text-align:left;
*/
}

.apply
{
	position: absolute;
/*
	margin-left: 17.3%;
	margin-top: 43%;
    height: 40px;
    width: 200px;
*/
font-size:16px;
color:#3cb885;
	margin-top: 2%;
/*
letter-spacing:0px;
text-align:center;
*/
}
.side-nav {
  position: fixed;
  width: 30%;
  left: 0;
  top: 0;
  margin: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  height: 100%;
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  padding-top:160px;
  padding-left: 102px !important;
  background-color:rgba(232,53,75,0.8);
  z-index: 1001;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
          transform: translateX(-105%);
	border-top: 100px transparent;
}
.side-nav a {
  color: rgba(255, 255, 255,1);
  display: block;
  font-size: 1em;
  font-weight: 700;
  height: 48px;
  line-height: 48px;
  text-align: left;
}

p.hire_text{
	background-color: rgb(232,52,75);
	font-size: 11px;
	display: block;
	padding-top: 4px;
	font-weight: 900;
	border-radius: 2px;
	width:100px;
	color: white;
	height: 21px;
}
a.sim{
	font-family: Poppins;
	color: #108fa8;
	font-size: 11px;
		letter-spacing:0px;
	-webkit-transition:all ease .2s;
	 -moz-transition:all ease .2s;
	 -o-transition:all ease .2s;
	 transition:all ease .2s;
	 font-weight: 400;
}
a.sim:hover{
	font-family: Poppins;
	color: #213742;
    font-weight: 500;
	font-size: 11px;
	opacity: 0.9;
    padding-left: 2px;
}
a.active{
	font-family:'Poppins';
	font-weight: bold;
	color:#213742;

}

#bluemenu {
   padding: 5px 0px 5px 0px;
	 	opacity: 0.6;
}

img.client_effect{
	opacity: 0.8;
}
img.client_effect:hover{
	opacity: 1;
}

@media only screen and (max-width: 680px) {
	.side-nav {
	  position: fixed;
	  width: 90%;
	  left: 0;
	  top: 0;
	  margin: 0;
	  -webkit-transform: translateX(-100%);
	          transform: translateX(-100%);
	  height: 100%;
	  height: calc(100% + 60px);
	  height: -moz-calc(100%);
	  padding-top:100px;
	  padding-left: 20px !important;
	  background-color:rgba(232,53,75,0.9);
	  z-index: 1001;
	  -webkit-backface-visibility: hidden;
	          backface-visibility: hidden;
	  overflow-y: auto;
	  will-change: transform;
	  -webkit-backface-visibility: hidden;
	          backface-visibility: hidden;
	  -webkit-transform: translateX(-105%);
	          transform: translateX(-105%);
		border-top: 100px transparent;
	}
}
